<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">					
		<title>授权信息验证</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <link rel="stylesheet" href="../css/mui.min.css" />
	    <link rel="stylesheet" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/checkLater.css" />
	</head>
	<body class="bg-white">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon icon-mui mui-icon-left-nav mui-action-back mui-pull-left"></a>
			<h1 class="mui-title">授权信息验证</h1>
		</header>
		<div class="mui-content">
			<div class="tips">
				填写真实信息，有利于提高审核通过率
			</div>	
			<div class="divBox">
				<div class="clearfix joy-link addInfor" jhref="cLphotosID.html">
					<img src="../images/loan/individual.png">
					<div class="contentxt">
						<p class="contxtTil">身份证</p>  
						<p class="mui-ellipsis">拍照正反面</p>
					</div>
					<i class="icons-plusSign"></i>			
				</div>
			</div>
			<div class="divBox">
				<div class="clearfix addInfor">
					<img src="../images/loan/credit.png">
					<div class="contentxt">
						<p class="contxtTil">蚂蚁信用</p>  
						<p class="mui-ellipsis">可降低利息，提高额度</p>
					</div>
					<i class="icons-plusSign"></i>				
				</div>
			</div>
			<div class="divBox">
				<div class="clearfix addInfor">
					<img src="../images/loan/bank.png">
					<span class="addExp">收款银行</span>
					<i class="icons-plusSign"></i>				
				</div>
			</div>	
			<div class="nextStep">
				<a href="cLverification.html"><img src="../images/loan/nextStep.png" alt="下一步" />	</a>
			</div>
		</div>
		<script src="http://api.map.baidu.com/api?v=2.0&ak=hHe9D5WvTXS14U5cMKoS0Gi2MbaqfVg6"></script>
		<script src="../js/geolocation.js"></script>
		<script src="../js/lib/mui.min.js"></script>
		<script src="../js/lib/Q.js"></script>
		<script src="../js/common.js"></script> 
		<script src="../js/storage.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/request.js"></script>
		<script src="../js/services/userServices.js"></script>
 		<script src="../js/controller/main.js"></script>
 		<script src="../js/update.js"></script>
	</body>

</html>